@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('BebasNeue-Regular.woff2') format('woff2'),
    url('BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 900px) {
  .top-body{
 margin-top: 50px;
  } }

  @font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../PROGETTO\ NICOLAS/BebasNeue-Regular.woff2') format('woff2'),
         url('../PROGETTO\ NICOLAS/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../PROGETTO\ NICOLAS/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../PROGETTO\ NICOLAS/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Stili Generali */
body {
  width: 100%;
  height: auto;
  background: #FFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navigazione */
.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #0A2B36;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.containerNav-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #0A2B36;
}

.menuPage {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.logoNav img {
  width: 78px;
  height: 49px;
}

.menuItems {
  display: flex;
  gap: 24px;
  align-items: center;
}

.menuChoice .choice {
  color: #ffffff;
  text-decoration: none;
  font-family: BebasNeue-Regular;
  font-size: 24px;
  letter-spacing: 0.96px;
  transition: color 0.1s ease;
}

.menuChoice .choice:hover {
  color: #2ab8e3;
}

.menuSocial_desktop {
  display: flex;
  gap: 18px;
  align-items: center; 
}

.social_Img {
  width: 32px;
  height: 32px;
}

/* Sezione Contattami */
.FirstDescription_Digital{
  color: #0A2B36;
  font-family: BebasNeue-Regular;
  font-size: 56px;
  letter-spacing: 2.24px;
  margin: -50px 0;
}

.TEXT_retention {
  margin-top: 50px;
  color: var(--Primary-Color, #0A2B36);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -100px;
}

.projectLink {
  border-radius: 24px;
  background: var(--Accent-Color, #630B25);
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat-Regular;
  cursor: pointer; 
  font-size: 20px;
  transition: background-color 0.3s ease;
  text-align: center;
  max-width: 250px; 
}

.projectLink:hover {
  background: #330110;
}

/* Form di Contatto */
.form-container {
  max-width: 864px;
  width: 100%;
  padding: 50px;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box; 
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-group.full-width {
  width: 100%;
  position: relative;
}

label {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  font-family: Montserrat;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #800020;
  border-radius: 20px;
  font-size: 18px;
  box-sizing: border-box;
}
